$icon-path-sk-checkbox-icon: $icon-path + 'sk-checkbox-icon.svg';
$icon-path-sk-crumbpath-arrow: $icon-path + 'sk-crumbpath-arrow.svg';
$icon-path-sk-add-photo-icon: $icon-path + 'sk-add-photo-icon.svg';
$icon-path-sk-timeframe-picker-arrow: $icon-path + 'sk-timeframe-picker-arrow.svg';
$icon-path-sk-side-navigation__home-button__icon: $icon-path + 'sk-side-navigation__home-button__icon.svg';

$icon-path-sk-calendar__arrow-up: $icon-path + 'sk-calendar__arrow-up.svg';
$icon-path-sk-calendar__arrow-down: $icon-path + 'sk-calendar__arrow-down.svg';
$icon-path-sk-table__header-middle-arrow-down: $icon-path + 'sk-table__header-middle-arrow-down.svg';

$icon-path-sk-dropdown__down-arrow: $icon-path + 'sk-dropdown__down-arrow.svg';

$icon-path-sk-button-add-icon-cross: $icon-path + 'sk-button-add-icon-cross.svg';
$icon-path-sk-button-add-icon-plus: $icon-path + 'sk-button-add-icon-plus.svg';
$icon-path-sk-button-undo-icon: $icon-path + 'sk-button-undo-icon.svg';
$icon-path-sk-button-pointed: $icon-path + 'sk-button-pointed.svg';
$icon-path-sk-group-icon: $icon-path + 'sk-button-group-icon.svg';
$icon-path-sk-edit-icon: $icon-path + 'sk-button-edit-icon.svg';
$icon-path-sk-delete-icon: $icon-path + 'sk-button-delete-icon.svg';
$icon-path-sk-searchbar__loupe: $icon-path + 'sk-searchbar__loupe.svg';
$icon-path-sk-datepicker-icon: $icon-path + 'sk-datepicker-icon.svg';

$icon-path-sk-eclipse-icon: $icon-path + 'sk-eclipse-icon.svg';
$icon-path-sk-toast-cancel-icon: $icon-path + 'sk-toast-cancel-icon.svg';
$icon-path-sk-toast-info-icon: $icon-path + 'sk-toast-info-icon.svg';
$icon-path-sk-toast-success-icon: $icon-path + 'sk-toast-success-icon.svg';